body {
 font-family: 'Lato', sans-serif;
}

:root {
 --green: #acd8ad;
 --black: #3f4043;
 --secondary-font: 'Montserrat', sans-serif;
}

.flex-space-between {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.main-header {
 padding-left: 19px;
 height: 37px;
 background-color: var(--black);
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.burger-menu {
 height: 100%;
 width: 41px;
 background-color: #202529;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.burger-line {
 width: 20px;
 height: 2px;
 background-color: #fff;
 margin-bottom: 3px;
}

.slogan {
 font-size: 16px;
 font-weight: 700;
 color: #fff;
 line-height: 20px;
}

.section-slogan {
 height: 173px;
 padding: 19px 0 0 20px;
 background: url("../img/header.png") no-repeat center;
 background-size: cover;
 margin-bottom: 2px;
}

.site-link {
 display: inline-block;
 margin-top: 11px;
 color: #a6d6e0;
 font-size: 14px;
 font-weight: 700;
}

.menu-list {
 margin-bottom: 26px;
}

.menu-item {
 width: 79.6%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 padding: 27px 0 28px;
}

.menu-list-item {
 display: flex;
 margin-bottom: 2px;
}

.menu-item.delivery {
 background-image: url("../img/pizza-delivery.png");
}

.menu-item.salads {
 background-image: url("../img/salads.png");
}

.menu-item.desserts {
 background-image: url("../img/desserts.png");
}

.menu-link {
 width: 21.4%;
 background-color: var(--green);
 color: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
}

.menu-item-title {
 font-size: 20px;
 color: #fff;
 font-weight: 700;
 text-align: center;
 line-height: 1;
}

.menu-slogan {
 font-size: 20px;
 font-weight: 400;
 text-transform: uppercase;
 color: var(--black);
 margin-bottom: 4px;
 margin-left: 9px;
}

.menu-slogan-s {
 color: #cbccce;
 font-size: 10px;
 margin-left: 9px;
}

.menu-title-bg {
 padding: 12px 19px 11px;
 font-size: 20px;
 text-transform: uppercase;
 margin: 10px 0 11px;
 line-height: 1;
}

.menu-title-bg.black {
 background-color: var(--black);
 color: var(--green);
}

.menu-title-bg.green {
 background-color: var(--green);
 color: #fff;
}

.meals-item {
 margin-bottom: 8px;
}

.meals-section-header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 16px;
}

.meals-section {
 margin: 0 19px 16px 20px;
}

.meals-title {
 font-size: 15px;
 color: var(--black);
 font-weight: 400;
 text-transform: uppercase;
}

.meals-description {
 font-size: 9px;
 color: var(--black);
 margin-top: 8px;
}

.meals-name {
 font-size: 14px;
 color: var(--black);
}

.nav-menu {
 display: none;
}

.header-logo {
 display: none;
}

.nav-menu-link {
 color: #ffffff;
 font-family: var(--secondary-font);
}

.main-footer {
 background-color: var(--green);
 padding: 13px 38px 11px 41px;
}

.footer-slogan {
 color: #ffffff;
 font-family: var(--secondary-font);
 font-size: 12px;
 line-height: 16px;
 text-align: center;
}

.menu-logo {
 display: none;
}

.meals-price {
 font-size: 14px;
 font-weight: 700;
}

.meals-icon.pizza {
 width: 25px;
 height: 25px;
}

.meals-icon.glass {
 width: 13px;
 height: 24px;
}

.meals-icon.cup {
 width: 30px;
 height: 21px;
}

.meals-icon.cup-2 {
 width: 21px;
 height: 20px;
}

@media screen and (min-width: 980px) {
 .nav-menu {
  display: flex;
  align-items: center;
 }

 .nav-menu-link {
  margin-right: 32px;
  font-size: 15px;
  text-decoration: none;
 }

 .nav-menu-link:not(a) {
  display: none;
 }

 .main-header {
  height: 97px;
  padding: 0 30px;
 }

 .header-logo {
  display: block;
 }

 .burger-menu {
  display: none;
 }

 .section-slogan {
  padding: 64px 0 0 30px;
  height: 530px;
 }

 .slogan {
  font-size: 54px;
  line-height: 64px;
 }

 .site-link {
  font-size: 34px;
  margin-top: 57px;
 }

 .menu-list {
  display: flex;
  height: 327px;
 }

 .menu-link {
  display: none;
 }

 .menu-list-item {
  width: 100%;
 }

 .menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .menu-item-title {
  font-size: 38px;
 }

 .section-menu {
  position: relative;
  padding-top: 24px;
 }

 .menu-logo {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
 }

 .menu-slogan {
  font-size: 34px;
  margin-left: 30px;
 }

 .menu-slogan-s {
  font-size: 20px;
  margin-left: 30px;
 }

 .meals-list {
  display: flex;
  margin-bottom: 84px;
 }

 .menu-title-bg {
  padding: 27px 0 23px 18px;
  font-size: 34px;
  margin: 21px 0 29px;
 }

 .meals-title {
  font-size: 26px;
 }

 .meals-name {
  font-size: 24px;
  font-weight: 400;
 }

 .meals-description {
  font-size: 16px;
  margin-top: 17px;
 }

 .meals-price {
  font-size: 24px;
  font-weight: 700;
 }

 .meals-icon.pizza {
  width: 42px;
  height: 42px;
 }

 .meals-icon.glass {
  width: 25px;
  height: 44px;
 }

 .meals-icon.cup {
  width: 56px;
  height: 39px;
 }

 .meals-icon.cup-2 {
  width: 40px;
  height: 39px;
 }

 .meals-section {
  margin-right: 10px;
 }

 .main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 30px;
 }

 .footer-slogan {
  font-size: 18px;
  line-height: 26px;
 }
}

@media screen and (min-width: 1200px) {
 .slogan {
  font-size: 62px;
  line-height: 64px;
 }

 .site-link {
  font-size: 38px;
 }

 .section-slogan {
  height: 649px;
  padding: 58px 0 0 37px;
  margin-bottom: 6px;
 }

 .menu-list {
  height: 400px;
 }

 .menu-item-title {
  font-size: 43px;
 }

 .menu-slogan {
  font-size: 40px;
 }

 .menu-title-bg {
  font-size: 40px;
  padding: 23px 0 23px 18px;
 }

 .meals-title {
  font-size: 30px;
 }

 .meals-name {
  font-size: 27px;
 }

 .meals-icon.pizza {
  width: 49px;
  height: 48px;
 }

 .meals-icon.glass {
  width: 27px;
  height: 48px;
 }

 .meals-icon.cup {
  width: 61px;
  height: 42px;
 }

 .meals-icon.cup-2 {
  width: 43px;
  height: 32px;
 }

 .meals-description {
  font-size: 18px;
 }
}
